In [1]:
import pandas as pd
da = pd.read_csv('/content/Ecommerce Purchases')
pd.set_option('display.max_colwidth', 150)
da

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77130-7478",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2.9.183 Version/12.00,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 84355-4179",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Presto/2.9.176 Version/11.00,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.2; Trident/5.1),"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 rv:3.0; en-US) AppleWebKit/531.27.1 (KHTML, like Gecko) Version/5.1 Safari/531.27.1","Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 57826",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2.9.182 Version/11.00,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 (KHTML, like Gecko) Chrome/14.0.877.0 Safari/5352",Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, TX 55158",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 5.1; Trident/4.1),"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,"Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7_8 rv:6.0; sl-SI) AppleWebKit/534.1.1 (KHTML, like Gecko) Version/4.0.3 Safari/534.1.1",Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8; rv:1.9.6.20) Gecko/2014-05-17 01:11:58 Firefox/3.6.13,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gecko/2013-11-22 09:05:00 Firefox/3.6.11,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [2]:
# Checking null values in the dataset
null = da.isnull().sum()
print(null)

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [3]:
# Checking duplicate values
print(da[da.duplicated()])

Empty DataFrame
Columns: [Address, Lot, AM or PM, Browser Info, Company, Credit Card, CC Exp Date, CC Security Code, CC Provider, Email, Job, IP Address, Language, Purchase Price]
Index: []

In [4]:
mode = da['Purchase Price'].mode()[0]
median = da['Purchase Price'].median()
mean = da['Purchase Price'].mean()
max = da['Purchase Price'].max()
min = da['Purchase Price'].min()
print(f'Mode: {mode:.2f}\nMedian: {median:.2f}\nMean: {mean:.2f}\nMax: {max:.2f}\nMin: {min:.2f}')

Mode: 49.73
Median: 50.50
Mean: 50.35
Max: 99.99
Min: 0.00

In [5]:
# Checking outliers in the purchase prices
Q1 = da['Purchase Price'].quantile(0.25)
Q3 = da['Purchase Price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = da[(da['Purchase Price'] < lower_bound) | (da['Purchase Price'] > upper_bound)]
print(outliers)

Empty DataFrame
Columns: [Address, Lot, AM or PM, Browser Info, Company, Credit Card, CC Exp Date, CC Security Code, CC Provider, Email, Job, IP Address, Language, Purchase Price]
Index: []

In [6]:
# Finding skewness of the purchase prices
skewness = 3 * (mean - median) / da['Purchase Price'].std()
print(round(skewness, 3))

-0.016

The purchase prices of the e-commerce are fairly evenly distributed around the median, with no extreme outliers.

In [7]:
# Languages purchasers speak and total number of languages
lan = da['Language'].unique()
print(f'{lan}, {len(lan)}')

['el' 'fr' 'de' 'es' 'ru' 'pt' 'zh' 'en' 'it'], 9

In [8]:
# Number of purchasers who speak Italian 'it'
len(da[da['Language'] == 'it'])

1086

In [9]:
# Number of purchasers job titles that contain Engineer
engineer = da['Job'].str.contains('engineer', case = False)
len(da[engineer])

984

In [10]:
da[da.duplicated(['Credit Card'])]['Credit Card']

Series([], Name: Credit Card, dtype: int64)

In [11]:
# List of credit card providers
da['CC Provider'].unique()

array(['JCB 16 digit', 'Mastercard', 'Discover',
       'Diners Club / Carte Blanche', 'VISA 16 digit', 'VISA 13 digit',
       'American Express', 'Voyager', 'JCB 15 digit', 'Maestro'],
      dtype=object)

In [12]:
# Number of purchasers who have American Express and made a purchase above 75
len(da[(da['CC Provider'] == 'American Express') & (da['Purchase Price'] > 75)])

224

In [13]:
# Number of purchaser credit cards will expire after 2024
import datetime

def exp_date(s):
  month, year = s.split('/')
  return datetime.date(int('20' + year), int(month), 1)

d = da['CC Exp Date'].apply(exp_date)
target_date = datetime.date(2024, 12, 31)
len(da[d > target_date])

1687

In [14]:
# Number of purchasers who use the Mac PC
len(da[da['Browser Info'].str.contains('Macintosh')])

2061

In [15]:
# Number of purchases during AM and PM
da['AM or PM'].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [16]:
# 5 Most common email providers
da['Email'].apply(lambda x:x.split('@')[1]).value_counts().head()

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64